<?xml version="1.0" encoding="utf-8" ?>
<configuration>
		<connectionStrings>
				<add name="CfCloudStorage" connectionString="DefaultEndpointsProtocol=http;AccountName=climbfinddev;AccountKey=TCwY73PuQU4jVYiYLIIB9jReFnlAaLBDIuySwuFBlEHlykPXpidVzRFtyrFssiYguhGR8fHFlO7fRwuaSnj+jw==" />
				<!-- Sql Azure [NOTE THIS IS A DEV COPY WHICH YOU MUST HAVE FIREWALL PRIVILAGES TO ACCESS, Please get in touch if you're coding against the db] -->
				<!--<add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:tv9shr2ygo.database.windows.net,1433;Database=cf_dev;User ID=developer@tv9shr2ygo;Password=cf$12devel0per;Trusted_Connection=False;MultipleActiveResultSets=True;Encrypt=False;&quot;" providerName="System.Data.EntityClient" />-->
				<!-- Local DB -->
				<add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=cf;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
		</connectionStrings>
		<appSettings>
				<add key="MailManName" value="Climbfind" />
				<add key="MailManAddress" value="mailman@climbfind.com" />
				<add key="MailServer" value="localhost" />
				<add key="MailPassword" value="password" />
				<add key="AWSAccessKey" value="" />
				<add key="AWSSecretKey" value="" />
				<add key="WebRoot" value="http://cfdev:8989" />
				<add key="SvcRoot" value="http://cfdev/cfSvc" />
				<add key="UploadRoot" value="http://upload.climbfind.com" />
				<add key="ImagesRoot" value="http://images.climbfind.com" />
				<add key="StaticRoot" value="/static" />
				<add key="SearchSvcRelativeUrl" value="/v1/search/" />
				<add key="MapSvcRelativeUrl" value="/v0/map/" />
				<add key="TempRoot" value="/temp" />
		</appSettings>
</configuration>