<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="MailManName" value="Climbfind"/>
		<add key="MailManAddress" value="mailman@climbfind.com" />
		<add key="MailServer" value="" />
		<add key="MailPassword" value="" />
		<add key="WebRoot" value="http://www.climbfind.com"/>
		<add key="ImagesRoot" value="http://images.climbfind.com"/>
		<add key="StaticRoot" value="http://static.climbfind.com"/>
		<add key="CFUrbanairshipCredentials" value=""/>
		<add key="PGUrbanairshipCredentials" value=""/>
	</appSettings>
	<connectionStrings>
			<add name="CfCloudStorage" connectionString="DefaultEndpointsProtocol=http;AccountName=climbfinddev;AccountKey=TCwY73PuQU4jVYiYLIIB9jReFnlAaLBDIuySwuFBlEHlykPXpidVzRFtyrFssiYguhGR8fHFlO7fRwuaSnj+jw==" />
			<!-- Sql Azure [NOTE THIS IS A DEV COPY WHICH YOU MUST HAVE FIREWALL PRIVILAGES TO ACCESS, Please get in touch if you're coding against the db] -->
			<add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:tv9shr2ygo.database.windows.net,1433;Database=cf_dev;User ID=developer@tv9shr2ygo;Password=cf$12devel0per;Trusted_Connection=False;MultipleActiveResultSets=True;Encrypt=False;&quot;" providerName="System.Data.EntityClient" />
			<!-- Local DB
		  <add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=cf;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
	</connectionStrings>
	<system.diagnostics>
		<sources>
			<source name="Cf.AlertsServer">
				<listeners>
					<clear/>
					<add name="ErrorTraceListener" type="cf.Instrumentation.TraceListeners.ExceptionEmailAndLoggingTraceListener, cf" initializeData="ToEmail=jkresner@yahoo.com.au"/>
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="Cf.AlertsServer" value="All"/>
		</switches>
	</system.diagnostics>
</configuration>