@{ ViewBag.Title = "Browser not supported"; }

<style type="text/css">
    h5 { margin-left:20px;color:Orange;font-weight:bold;font-size:18px }
</style>    

<div id="main">
    <div class="post">
        <div class="right">
            <h4 style="margin-left:20px;margin-top:2px;padding:0">Ohh owwwhhhh...</h4>
            <h5>Your gear is a bit old to trust, bout time you upgraded!</h5>
            
            <p style="font-size:14px;font-weight:bold;font-style:italic">@ViewBag.Msg</p>
        </div>
        <div class="left">
            <div class="post-meta">
                <h4>Supported Browsers</h4>
                <ul>
                    <li>FireFox (all versions)</li>
                    <li>Chrome (all versions)</li>
                    <li>IE (9+)</li>
                    <li>Safari (all versions)</li>
                </ul>
            </div>
        </div>
    </div>
</div>
