@{ ViewBag.Title = "Unauthorized"; }

<style type="text/css">
    h5 { margin-left:20px;color:Orange;font-weight:bold;font-size:18px }
</style>    

<div id="main" style="min-height:400px">
    <div class="post">
        <div class="right">
            <h4 style="margin-left:20px;margin-top:2px;padding:0">Oops...</h4>
            <h5>You gotta' earn more respect before you can do that</h5>
            
            <p style="margin-left:20px;margin-top:20px;font-size:14px;font-weight:bold;font-style:italic">@ViewBag.Msg</p>
            
        </div>
    </div>
</div>
