@{
    ViewBag.Title = "Top Areas";
}



<div id="col2-left">
   
<h1>Top climbing areas</h1>

<div style="height:450px">We're waiting for some data to come through from CF4 being live for a couple of months.</div>
</div>

<div id="col2-right">
</div>