@{
    ViewBag.Title = "TopOutdoorLocations";
}


<div id="col2-left">
  
<h1>Top outdoor locations <i>coming soon/i></h1>

<div style="height:450px">We're waiting for some data to come through from CF4 being live for a couple of months.</div>
 
</div>

<div id="col2-right">
</div>