<div id="ThanksForTrying" style="display:none">
    <p>Thanks for your interest in helping to improve the Climbfind Climbing database.</p>
    <p>If you're interested in helping more, read up about our @(Html.ActionLink<HomeController>(c => c.ModeratorsProject(), "moderators project")).</p> 
    <p>If you want to add a different area <a href="javascript:backToExisting()">return to the previous screen.</a></p>
</div>