@{ Post post = ViewBag.Post;
   //var title = post.Profile.DisplayName + " " + ((PostType)post.TypeID).ToFriendlyString();
   //CfPageTitleMaster.Set(title); 
}
    
<div id="col2-left">
@*  <h1>@title</h1>  
    <h6>@Html.PlaceLinkWithFlag(post.PlaceID) @post.Utc.GetAgoStringUtc()</h6> *@
</div>
<div id="col2-right">


</div>