@{ ViewBag.Title = "Climbfind Scan Codes"; }

@*<style type="text/css"> 
    #content { padding-bottom:0px!important;margin-bottom:0px!important }
</style>*@

<div id="col1"> 

<div id="col1-content">

<h1>Climbfind Scan Codes</h1>

<p style="padding:10px">Here is a quick explanation of our to use Climbfind Scan Codes. If you own or run an indoor climbing facility and 
would like to set this up, email us.</p>

<style type="text/css">
.steps { margin:10px 0 0 00px }
.step { width:310px;float:left;margin:10px 14px 30px 0px;text-align:center }
.step img { width:280px;padding:3px;border:solid 1px #d3d3d3 }
.step h2 { font-size:20px;margin:5px auto 10px auto }
.step p { margin:5px auto 15px auto;width:280px }
</style>

<div class="steps">
<div class="step"><h2>1. Get the Climbfind Scanner</h2><p>Download <a href="/mobile">Climbfind Mobile</a> to get access to the "Climbfind Scanner".</p><img src="@Stgs.StaticRt/screenshots/iphone/Climbfind-Scanner.PNG" /></div>
<div class="step"><h2>2. Print off the QR Code</h2><p>Create a climb on our website. Then click the QR icon in the top right to get the code.</p><img alt="QR Code" src="@Stgs.StaticRt/ui/icon-qr-28x28.png" style="width:28px;margin:20px 0 20px 0"><p>Print the code and stick it at the bottom of the Climb.</p><img alt="Label Printer" src="@Stgs.StaticRt/ui/LabelPrinter.png" style="width:180px;margin-top:15px"></div>
<div class="step"><h2>3. Interact with Climbs</h2><p><i>Scan</i> code to get the grade, description, rating & see others who tried / commented.</p><img src="@Stgs.StaticRt/screenshots/iphone/Indoor-Climb.PNG" /></div>
<hr />

</div>


</div>

</div>