@{ ViewBag.Title = "Climbfind opinions"; }

<style type="text/css"> #col1-content p { font-size:13px!important }</style>

<div id="col1">

<div id="col1-content">

<h1>Climbfind Opinions</h1>

<p>Climbfind provides the ability for you to leave your opinion on any city, climbing area, indoor climbing facility,
 outdoor location & climb in our <a href="/world-rock-climbing-database" target="_blank">climbing database</a>.</p>

<p>Opinions help Climbfind display popular places, climbs and content more prevalently. Climbfind 
also aggregates community ratings and uses the power of peer recommendation to perform 
sophisticated suggestions like:
</p>
<hr />
<blockquote>"You should climb 'xxx' in your gym today because it's at a similar grade to climbs you've done recently, and it's has
the highest rating from the community in the last 2 weeks."</blockquote>

<blockquote>"Here are the top 50 climbs in a 50 mile radius from your current location." (via Climbfind Mobile)</blockquote>

<blockquote>"Out of the 50 places to climb around 'xxx' here are the top 5 boulders you should check out." </blockquote>
<hr />
<p>In the future we will plan publish our community's opinions every 3 months to tell you:</p>

<ul>
    <li><a href="/top-rated-climbing-areas-in-the-world"></a>The world's top climbing areas</li>
    <li><a href="/top-rated-indoor-climbing-in-the-world"></a>The world's top indoor climbing locations</li>
    <li><a href="/top-rated-outdoor-climbing-in-the-world"></a>The world's top outdoor climbing locations</li>
    <li><a href="/top-rated-climbs-in-the-world"></a>The world's top outdoor climbs</li>
</ul>    
<br />
<h3>To leave your opinion on a place</h3>

<p>Browse to the place you want to leave an opinion on (or try type the name of the place in the search bar up the top to go there straight there).
Then click the link at the top of the page that says "Share an opinion on xxxxx"</p>

<img src="@Stgs.StaticRt/screenshots/help/share-opinion.jpg" alt="Share an opinion" style="width:640px;padding:2px;border:solid 1px gray" />
<br /><br />
<h3>To leave your opinion on a climb</h3>
<p>You must log the climb as part of a visit (check in).</p>

</div>

</div>