@{ ViewBag.Title = "About Climbfind"; }


<div id="col2-left">
    <h1>Bugs & Feedback</h1>
            
    <p>www.climbfind.com was coded by one person... </p>
    <br />
    <p>It's kind of a big site - in case ya hadn't noticed!</p>
    <br />
    <p>The new version "CF4" took 11 months of planning, design & coding after 2 years of pondering on how to make "CF3" better.</p> 
    <br /><p>A project of this size probably should not have been
    undertaken by one coder. There are bound to be some bugs here and there, so things might be a little rocky until the community
    has taken the new site for a good spin. We'll probably be fixing small things all way through until the end of 2011 - so please don't hesitate
    to write in to contact@climbfind.com if something doesn't look right and we'll take a look.</p>
    <br /><p>Thanks for stopping by and we hope you enjoy the site!</p>
    <br /><p>The Climbfind Team</p>
</div>
<div id="col2-right">
          
</div>