@{ ViewBag.Title = "Indoor Climbing Gym Search"; }

<div id="col1">

<div id="col1-content">

<h1>Indoor Climbing Gym Search</h1>

<p>Ooops, we ran out of time to write this page...</p>
<p>We'll finish it this week (2011.10.10).</p>


@if (!User.Identity.IsAuthenticated)
{
<p>At this point, if you know why you're here, you probably should just:</p>

<div style="height:228px;height:60px;margin:80px 0px 0px 255px">
    <div id="login"><a href="/login" class="jBtn" style="padding:20px 44px 20px 44px;font-size:34px">Sign in</a></div>
</div>
}

</div>
</div>