@{ ViewBag.Title = "About Climbfind"; }

<style type="text/css">
    h4 { margin-left:20px }
</style>

<div id="main">
    <div class="post">
        <div class="right">
            <h1>Climbfind Site Credits</h1>
            
            <h4>Code</h4>

            <p>www.climbfind.com was coded by <a href="http://www.kresner.com/">Jonathon Kresner</a></p>

            <p>Climbfind iPhone & android apps was coded by MDavid Low</p>

            <h4>Design</h4>

            <p>Climbfind Branding by Devin Harris of <a href="http://belaycafe.com/">Belay Cafe</a></p>

            <p>Site design modified from original by <a href="http://www.styleshout.com/">styleshout</a></p>

        </div>
        <div class="left">
            <div class="post-meta">
                <h4>More to come</h4>
                <ul>
            
                    <li><a href="#">Haven't finished this page</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>