@{ ViewBag.Title = "About Climbfind"; }

<div id="main">

<h1>Climbfind Growth</h1>

<p>This page is a shameless plug about how well we've been doing since it started in 2008.</p>

<img src="http://www.kresner.com/Media/Default/Page/climbfind/2011.03.18_CFTraffic.PNG" alt="Climbfind Growth">

</div>

<div id="sidebar">

</div>