@{ ViewBag.Title = "Climbfind v5"; }

<div id="col1">

<h1>Climbfind Mobile<h1>

<p>This website is really only half of the Climbfind platform. You gotta download and get into the mobile apps - they're free to download
and start using. You can buy upgraded features if you like, but there's plenty of value in their for nothing.</p>


</div>