@{ ViewBag.Title = "The Climbfind Moderators"; }

<style type="text/css"> 
    #content { padding-bottom:0px!important;margin-bottom:0px!important }
    #vision-content { background:rgba(255, 255, 255, 0.95);padding:10px 10px 10px 10px }
    #vision-content p {font-size:13px} </style>

<div id="col1"> 

<div id="vision-content">

<h1>Join The Climbfind Moderators Team</h1>

<p>Above all else, Climbfind focuses on climbing community. Key people have helped to keep our community running smoothly and continuing to
grow ever since we started in one small climbing gym back in 2008. Moderators on Climbfind manage pages in our database and, more importantly,
manage relations with the climbing communities they represent.</p>
<p>If you are knowledgeable about the the climbing and community in your area and would like to bring your knowledge and experience
to Climbfind, you can do two things right away:</p>

<p>1) Get in touch with our lead moderators</p>

<hr />
<div id="login" style="padding-top:20px;height:70px"><a href="mailto:tcamuti@climbfind.com?subject=Climbfind moderators" class="jBtn" style="margin:40px 0 40px 0;font-size:32px;padding:20px 30px">Send us an email!</a></div>

<p>2) Start adding content (places & climbs) to Climbfind. Watch these movies if you want more of an idea on how to get started.</p>

<hr />
@*<div style="float:left;width:700px;margin:0px 0px 0 0">
    <h4 style="margin:0px 0 10px 0;padding-top:0px"><a href="/climber/8837cd56-08f9-412c-a79e-7aeaa25df0c7">Tim Camuti</a></h4>

    <p><i>Why I Climb:</i></p>
    <p>I grow at the limits of experience. Outdoor activities challenge me and help me to discover, in moments and circumstances that are sometimes 
    beyond my control, who I am and what I believe and I push myself to discover what I am capable of. Step by step and year by year, I discover 
    that I am capable of more than I realized. I imagined that this would plateau at some point, that I would stop improving my skills and 
    judgment, but only then do I discover that there are other skills and level of meaning and experience that are beyond my awareness. So a new 
    world of understanding and challenges continually opens up before me as I climb a route, revisit old favorite lines, hike to new destinations, 
    try out new activities, and journey through the life that I create and find so interesting on this planet Earth.</p>

    <p><i>Why I Climbfind:</i></p>
    <p>To share what I learn with others. I have climbed a long time and can track my climbing in a journal, on MP, SummitPost, etc, but on CF
     I find a group and community of climbers reaching out to each other to learn, to inspire and to be inspired. This is where I connect with 
     people, fellow climbers, who also enjoy growing at the limit of experience and sharing the journey of life with others.</p>
</div>
*@
<hr />
<h2>Adding a climb to Climbfind</h2>
<object id="scPlayer"  width="720" height="480" type="application/x-shockwave-flash" data="http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/mp4h264player.swf" ><param name="movie" value="http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/mp4h264player.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="thumb=http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/FirstFrame.jpg&containerwidth=640&containerheight=480&content=http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/August%20Add%20Climb.m4v&blurover=false" /><param name="allowFullScreen" value="true" /><param name="scale" value="showall" /><param name="allowScriptAccess" value="always" /><param name="base" value="http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/" /><iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/embed" height="480" width="640" ></iframe></object>

</div>

<hr />

</div>