@{ ViewBag.Title = "About Climbfind"; }

<style type="text/css">
    h4 { margin-left:20px }
</style>

<div id="main">
    <div class="post">
        <div class="right">
            <h1>Climbfind Partners</h1>

            <p class="post-info">Since we got started in October 2008 a lot of brands in the Climbing industry have supported us:<p>
            
            @*<h4>Guide Company partners</h4>


            <h4>Indoor Climbing Wall Partners</h4>


            <h4>Climbing Industry Partners</h4>
            
*@

                

                <style type="text/css">
                #Affiliates img {border: 1px solid #D3D3D3; float: left;margin: 5px;padding: 5px;}</style>

                <div id="Affiliates">
                    <p>
                        <a title="Planet Granite San Francisco Indoor Climbing" target="_blank" href="http://www.planetgranite.com/"><img src="@Stgs.StaticRt/partners/planet-granite-san-francisco-indoor-climbing.png"></a>
                        <a title="Amercian Climbing Wall Association" target="_blank" href="http://www.climbingwallindustry.org/"><img src="http://www.climbfind.com/images/site-partners/cwa.png"></a>
                        <a title="Climbing harness by Arc'teryx" target="_blank" href="http://www.arcteryx.com/"><img src="http://www.climbfind.com/images/site-partners/arcteryx.jpg"></a>
                        <a target="_blank" href="http://www.cliffbar.com/"><img src="http://www.climbfind.com/images/site-partners/Cliff-Bar.gif"></a>
                        <a target="_blank" href="http://www.mec.ca/"><img src="http://www.climbfind.com/images/site-partners/Mountain-Equiptment-Co-Op.png"></a>
                        <a target="_blank" href="http://www.ep-uk.com/store/"><img src="http://www.climbfind.com/images/site-partners/EntrePrises.jpg"></a>
                    </p>
                </div>


        </div>
        <div class="left">
            <div class="post-meta">
                <h4>More to come</h4>
                <ul>
            
                    <li><a href="#">Haven't finished this page</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>