@{ ViewBag.Title = "Climbfind Press"; }

<div id="main">

<h1>Climbfind Press</h1>

<div style="padding:5px">
    <p><b><a target="_blank" href="http://belaycafe.com/?p=492">Belay Cafe »  QR code what?</a></b></p>
    <p>... what's this talk of using QR codes to gain information or document climbs? I needed to know more. so i decided to get a bit more in depth with them and hear what they have to say about QR codes, Climbfind and upcoming projects..…</p>

    <p><b><a target="_blank"  href="http://www.elephantjournal.com/2011/05/desperately-seeking-spotter--jackie-hueftle/">elephantjournal: Jackie Hueftle »  Desperately Seeking Spotter.</a></b></p>
    <p>Enter Jonathon Kresner. As a 24-year-old computer programmer who’d recently relocated to London for a job, Krez (as his friends call him) was at a loss for how to break into a new climbing community for his after-work workouts. He found limited success with a “seeking” post on Gumtree (like Craigslist, but for British people), but along with his search came the inspiration for something much, much bigger.…</p>

    <p><b><a target="_blank"  href="http://www.rockandsky.com/1/post/2011/05/boldness-climbfind-2011.html">Rock and Sky » Boldness: Climbfind 2011</a></b></p>
    <p>Boldness means taking the necessary risk to have the kind of life you want. Whatever that might mean – working on crazy business schemes or simply living a good life – at some point it will mean stepping outside of your comfort zone. Climbfind is an awesome website that is about to take over…</p>

    <p><b><a target="_blank"  href="http://www.prana.com/blog/2011/01/28/climbfind-com-connect-with-the-climbing-world/">prAna blog » Climbfind.com | Connect With The Climbing World www.prana.com</a></b></p>
    <p>“We quit our jobs & decided to travel, climb and promote our grassroots climbing website across England, Scotland, Wales, Canada, The USA, Australia, New Zealand, Thailand, Argentina & Israel…”</p>

    <p><b><a target="_blank" href="http://www.climbingwallindustry.org/lines_v5_n8.php">Climbing Wall Association »  Member Profile Climbfind.com</a></b></p>
    <p>October 2009 marked the 12-month anniversary of the launch of climbfind.com. In its short and successful lifetime, this new climbing website has helped thousands of climbers around the globe find partners at their local climbing gym.</p>


    <p><b><a target="_blank" href="http://www.iamclimb.com/magazine/11_09/11_09_6.php">iamclimb magazine » Notes From the Underground—Climbfind.com</a></b></p>
    <p>What if there was a site where you could find new climbing areas, climbing partners, coordinated trips or find destinations and share it not just with your friends but with the greater climbing community? Enter Climbfind.com.</p>
</div>

</div>

<div id="sidebar">

</div>