@{ ViewBag.Title = "Reset password"; }

<div id="col1">

<div id="col1-content">

<h1>Reset password</h1>

@using (Html.BeginForm("ResetPassword", "Home", FormMethod.Post, new { id = "resetForm" }))
{		
    <div class="editor-label"><label>Email</label></div>
    <div class="editor-field"><input type="text" id="email" name="email" /></div>
    <hr />
	  <div id="sent" style="display:none">Sent, please watch your inbox and spam folder for your new password.</div>	
		<div id="failed" style="display:none">Failed <span id="reason"></span>, please <a href="/reset-password">try again...</a></div>	
	  <div id="submit"><input type="submit" value="Submit" class="SubmitBtn jBtn"  /> </div>			
    
    <hr />

}
    
</div>


<script type="text/javascript">

		$(function () {

				$("#resetForm").submit(function (e) {
						$.ajax({ type: 'POST',
								url: $("#resetForm").attr('action'),
								data: 'email=' + $("#email").val(),
								success: function (data) { if (data.Success) { $("#sent").show(); } else { $("#failed").show(); $("#reason").html(data.Error); } $("#submit").hide(); }
						});
						return false;
				});

		});

</script>

</div>