@{ ViewBag.Title = "Climbfind Team"; }

<style type="text/css"> 
    #content { padding-bottom:0px!important;margin-bottom:0px!important }
    #vision-content { background:rgba(255, 255, 255, 0.95);padding:10px 10px 10px 10px }
    #vision-content p {font-size:13px} </style>

<div id="col1"> 

<div id="vision-content">

<h1>The Climbfind Team</h1>

<p><b>Without the help of these volunteers, Climbfind would not be possible:</b></p>

<style type="text/css"> 
    .team { width:1000px;margin:10px;padding-top:20px;height:1050px }
    .team div { height:120px;width:64px;float:left;margin-right:14px } </style>

<div class="team">
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/23170_38303705_6006_q.jpg">Adam Davis</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173978_218300271_6701081_q.jpg">Adam Jacobs</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/195225_7942243_22857_q.jpg">Adam Lewkovitz</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187517_677316010_892675_q.jpg">Adrian Mortimer</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186927_682240432_901217_q.jpg">Alex Barrett</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/50092_1169960759_4453241_q.jpg">Alexandria Alecci</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187624_9310504_5624629_q.jpg">Aleya Littleton</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49870_1727938006_3477_q.jpg">Andrew Mezentsev</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174507_1011643222_2452967_q.jpg">Andy McKenzie</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174502_773705077_1153350_q.jpg">Anna Bouchard</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161180_506813192_5688456_q.jpg">Ben Grubb</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/70305_503753370_819343_q.jpg">Benny Kong</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186625_532541474_1194099_q.jpg">Brad Lamothe</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174344_1544049242_1823365_q.jpg">Bram van der Plas</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161184_608523992_6725277_q.jpg">Brian Scott Davis</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187686_500065654_3980054_q.jpg">Bryan Le</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174299_726593161_6215865_q.jpg">Bryan Patrick Harris</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187283_507477895_2632633_q.jpg">Candace J Edmonston</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186451_660127323_3803595_q.jpg">Cherry Baylosis</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186740_643916354_8254288_q.jpg">Cheryl Hackworth</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186281_571580012_3999056_q.jpg">Christopher Sykes</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173671_743435540_7902033_q.jpg">Clare Curling</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/157347_611720483_3532362_q.jpg">Colin Kinnison</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186329_777529904_7310697_q.jpg">Cristian Seusan</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161193_656651242_47586_q.jpg">Danielle D. Estep</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161509_843685724_4807142_q.jpg">Darrel Cheung</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41468_566545598_2311_q.jpg">Darren Christopher Hodder</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161244_685341856_5871411_q.jpg">David Lutzy</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161475_700273543_3570735_q.jpg">Devin Harris</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49150_505953479_3125418_q.jpg">Dina Harrow</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173896_727618288_4197162_q.jpg">Dominic Shadbolt</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187257_815050690_5610220_q.jpg">Ed Gough</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/157350_583351358_1684850_q.jpg">Eileen Descallar Ringwald</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173665_219000063_6204351_q.jpg">Emily Chong</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187663_662455173_6339908_q.jpg">Erin Jenkins</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49549_676160095_4661_q.jpg">Fred Stone</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41483_685061671_4449_q.jpg">Gabe Gardner</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161459_2700122_5706437_q.jpg">Genie Ko</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174337_716415231_798751_q.jpg">George Emil</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186927_641542591_4279587_q.jpg">Gil Raymond</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186855_695736588_7899723_q.jpg">Gingere La</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174471_523545176_4455181_q.jpg">Hannah Mueller</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/27405_100000952616943_7746_q.jpg">Iggy Ben Zev</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/48972_510548079_711_q.jpg">Ilan Gutman</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/49539_576446476_95317_q.jpg">Jack Griffiths</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186698_10205842_1416674_q.jpg">Jackie Hueftle</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186232_100000007326534_4965764_q.jpg">James Engelking</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41490_36702816_8056_q.jpg">James Williamson</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186965_628280655_3850075_q.jpg">Janice Nguyen</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/70317_15919541_4734905_q.jpg">Jennifer Antelman</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186245_666280629_1610802_q.jpg">Jess Yang</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186064_640418499_5160042_q.jpg">Joan Marie Sanborn III</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/23094_674767069_2771_q.jpg">Jon St. John</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41494_703646828_2438_q.jpg">Justin Lewis</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173904_4911603_4939786_q.jpg">Justin Smith</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186482_555960568_5000712_q.jpg">Kevin Kinnison</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41641_14901180_9347_q.jpg">Lance R. Pinn</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187058_1235951980_2877398_q.jpg">Laura E Dvornicky</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/48816_263901729_2917844_q.jpg">Lewis Stewart</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/70853_719512119_1997401_q.jpg">Lois MacCullagh</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187328_1347498441_8269702_q.jpg">Lucas Mura</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174326_566111073_668159_q.jpg">Lucy Johnson</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174356_887730602_1439182_q.jpg">Luke Meadows</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/157505_3800158_7176822_q.jpg">Luke Stefurak</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186503_60100424_5612634_q.jpg">MDavid Low</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/70849_720046636_5840019_q.jpg">Mariana Cairati</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41536_100001760912526_84715_q.jpg">Martin Cleaver</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/157664_700038764_5365609_q.jpg">Mateusz Loskot</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/174512_56006408_7948031_q.jpg">Matthew Pederson</div>
<div><img src="http://b.static.ak.fbcdn.net/rsrc.php/v1/yo/r/UlIqmHJn-SK.gif">Mauro Bertoldi</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161663_100000000314035_4573938_q.jpg">Michael Harrison</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41511_625065410_5623057_q.jpg">Michael Muchel</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/195370_619401426_7142552_q.jpg">Michelle Lemire6</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41470_536970212_186_q.jpg">Mike Schauch</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/70770_608857027_7056233_q.jpg">Nich Underdown</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161664_506869520_6548102_q.jpg">Nick Mayne</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41492_680130754_4343_q.jpg">Nick Page</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186222_211500200_956360_q.jpg">Patrick Gensel</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161825_731855034_2762219_q.jpg">Paul Dyson</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41479_712635294_3100_q.jpg">Paul Twomey</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161661_547911694_7618750_q.jpg">Paul-Matthieu Fritsch</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161496_500127529_6369710_q.jpg">Peter Nies</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/187001_541540783_3244935_q.jpg">Rachel Harding</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/195325_517972825_2739004_q.jpg">Rachel Strate</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161266_693329622_4885645_q.jpg">Reuben Welch</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173911_556611292_2786242_q.jpg">Rick Yaz</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186902_535723105_2271567_q.jpg">Rodrigo Obón</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/27470_100000007172773_7327_q.jpg">Roger Hill</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173513_579710719_37779_q.jpg">Ryan Hufford</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173836_1192101782_964590_q.jpg">Sam Wallace</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/195379_1066516811_5308291_q.jpg">Sara Lingafelter</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/173830_1641617059_6021854_q.jpg">Sibl Bouldering</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186618_601929988_97746_q.jpg">Simon Byrne</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/41770_724283880_4384_q.jpg">Simone Chiaretta</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/186875_573412244_5847750_q.jpg">Steven G Ward</div>
<div><img src="http://profile.ak.fbcdn.net/hprofile-ak-snc4/161435_554720281_7576416_q.jpg">Tammy Lam</div>
</div>

</div>
<hr />
</div>