@{ ViewBag.Title = "Climbfind Vision"; }

<style type="text/css"> #col1 p {font-size:13px } </style>

<div id="col1"> 

<div id="col1-content">

    <h1>Our Vision</h1>

    <p><b>Climbfind is NOT a website, <span style="color:darkorange">Climbfind is people</span></b></p>

    <p>Climbing isn’t just fun… its experiences help us become stronger, smarter, healthier & happier human beings.</p>

    <p>Climbfind isn’t just a website… WE are a network of climbers whose offline interactions are even more important than our online interactions. Our purpose is to make positive climbing experiences more accessible to everyone so that we can all become better people while we connect with one another through our passion for climbing.</p>

    <p>The climber in our logo symbolizes each individual Climbfind member at a moment when he is pushing his limits, verging on personal breakthrough. The level we're climbing at is irrelevant, it is the experience of growth, performing & self-evolution which our members seek to FIND through climbing.</p>

    <p>While each of us seeks these moments, being part of Climbfind also means we believe the ultimate way to FIND them is by harnessing the support of our global community; hence every member’s job is not only to look for their own fulfillment but to help others FIND theirs by knowledge SHARE, partnering up, introducing one another and fueling each other with positive energy.</p>

    <p>Our vision is to help beginners more easily and rapidly ACCESS the sport so they can add more passion to our fire. Our vision is to help intermediate climbers ACCESS experiences of progression and rich social interaction so they don’t plateau & instead continue growing themselves and in turn us. Our vision is to help advanced climbers effortlessly ACCESS remote places and people of all corners of the globe so they can SHARE these experiences and inspire us to seek and enjoy climbing all over the world. In one sentence: Our vision is to make climbing more ACCESSIBLE to everyone, and by climbing we don’t simply mean the act of climbing, but the moments in climbing that make life ever so sweeter.</p>

    <p>Our slogan is "Find and share your passion". Being part Climbfind means you subscribe to sharing with others the same passionate moments which you seek to find.</p>

    <p>I am Jonathon Kresner. I am seeking these moments and I've used Climbfind to share them on a global scale so far with more than 500,000 people.</p>

    <p>One day Climbfind will enable you to find and share your passion no matter where you are in the world on any particular day, based only on the fact that you are a climber and the climber you’re connecting with also understands what a Climbfind experience is.</p>

    <p>Please make sure you are <a href="http://www.facebook.com/pages/Climbfind/40120560277">keeping up with us on facebook</a> and
    <a href="http://twitter.com/climbfind">following us on twitter</a>. You can expect us to grow and evolve unlike anything the climbing world has ever seen.</p>

    <br />

</div>

</div> 