<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="microsoft.identityModel" type="Microsoft.IdentityModel.Configuration.MicrosoftIdentityModelSection, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<connectionStrings>
		<add name="CfCloudStorage" connectionString="DefaultEndpointsProtocol=http;AccountName=climbfinddev;AccountKey=TCwY73PuQU4jVYiYLIIB9jReFnlAaLBDIuySwuFBlEHlykPXpidVzRFtyrFssiYguhGR8fHFlO7fRwuaSnj+jw==" />
		<!-- Sql Azure [NOTE THIS IS A DEV COPY WHICH YOU MUST HAVE FIREWALL PRIVILAGES TO ACCESS, Please get in touch if you're coding against the db] -->
		<!--<add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:tv9shr2ygo.database.windows.net,1433;Database=cf_dev;User ID=developer@tv9shr2ygo;Password=cf$12devel0per;Trusted_Connection=False;MultipleActiveResultSets=True;Encrypt=False;&quot;" providerName="System.Data.EntityClient" />-->
		<!-- Local DB -->
		<add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=cf;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="MailManName" value="Climbfind" />
		<add key="MailManAddress" value="mailman@climbfind.com" />
		<add key="MailServer" value="localhost" />
		<add key="MailPassword" value="password" />
		<add key="AWSAccessKey" value="" />
		<add key="AWSSecretKey" value="" />
		<add key="WebRoot" value="http://cfdev:8989" />
		<add key="SvcRoot" value="http://cfdev/cfSvc" />
		<add key="UploadRoot" value="http://upload.climbfind.com" />
		<add key="ImagesRoot" value="http://images.climbfind.com" />
		<add key="StaticRoot" value="/static" />
		<add key="SearchSvcRelativeUrl" value="/v1/search/" />
		<add key="MapSvcRelativeUrl" value="/v0/map/" />
		<add key="TempRoot" value="/temp" />
		<add key="FederationMetadataLocation" value="https://accounts.climbfind.com/FederationMetadata/2007-06/FederationMetadata.xml" />
	</appSettings>
	<system.diagnostics>
		<trace autoflush="true">
			<listeners>
				<clear />
					<!-- Remove default listener-->
			</listeners>
		</trace>
		<sources>
			<source name="Cf.Web">
				<listeners>
					<clear />
					<add name="ErrorTraceListener" type="cf.Instrumentation.TraceListeners.ExceptionEmailAndLoggingTraceListener, cf" initializeData="ToEmail=jkresner@yahoo.com.au" />
					<!--<add name="TextFileTraceListener" type="cf.Instrumentation.TraceListeners.DevelopmentTextFileTraceListener, cf" initializeData="dump.txt" />-->
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="Cf.Web" value="All" />
		</switches>
	</system.diagnostics>
	<location path="FederationMetadata">
		<system.web>
			<authorization>
				<allow users="*" />
			</authorization>
		</system.web>
	</location>
	<system.web>
		<customErrors mode="Off"/>
		<httpRuntime requestValidationType="NetFrameworkExtensions.Identity.WIFRequestValidator" enableVersionHeader="false" />
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		<modules runAllManagedModulesForAllRequests="true">     
			<add name="WSFederationAuthenticationModule" type="Microsoft.IdentityModel.Web.WSFederationAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
			<add name="SessionAuthenticationModule" type="Microsoft.IdentityModel.Web.SessionAuthenticationModule, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" preCondition="managedHandler" />
		</modules>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
		<microsoft.identityModel>
			<service saveBootstrapTokens="false">
				<audienceUris>
					<add value="http://cf4.climbfind.com/" />
					<add value="http://cfdev/"/>
				</audienceUris>
				<federatedAuthentication>
					<wsFederation passiveRedirectEnabled="true" issuer="https://accounts.climbfind.com/issue/wsfed" realm="http://cfdev/" requireHttps="false" persistentCookiesOnPassiveRedirects="true" />
					<!-- <wsFederation passiveRedirectEnabled="true" issuer="https://127.0.0.1:444/issue/wsfed" realm="http://cfdev/" requireHttps="false" persistentCookiesOnPassiveRedirects="true" />-->
					<cookieHandler requireSsl="false" name="CAuth" path="/" />
				</federatedAuthentication>
				<certificateValidation revocationMode="NoCheck" certificateValidationMode="None" />
				<serviceCertificate>
					<certificateReference x509FindType="FindByThumbprint" findValue="52737C20BA070AF35892B60E9F3AA2B086E6C036" storeLocation="LocalMachine" storeName="My" />
				</serviceCertificate>
				<issuerNameRegistry type="Microsoft.IdentityModel.Tokens.ConfigurationBasedIssuerNameRegistry, Microsoft.IdentityModel, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<trustedIssuers>
						<add thumbprint="52737C20BA070AF35892B60E9F3AA2B086E6C036" name="http://accounts.climbfind.com/trust" />
					</trustedIssuers>
				</issuerNameRegistry>
			</service>
		</microsoft.identityModel>
</configuration> 