<?xml version="1.0"?>
<configuration>
	<connectionStrings>
			<add name="cfEntitiesData" connectionString="metadata=res://*/DataAccess.EntityFramework.CfEntitiesModel.csdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.ssdl|res://*/DataAccess.EntityFramework.CfEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Server=tcp:tv9shr2ygo.database.windows.net,1433;Database=cf_dev;User ID=developer@tv9shr2ygo;Password=cf$12devel0per;Trusted_Connection=False;MultipleActiveResultSets=True;Encrypt=False;&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="UploadServiceUrl" value="http://cf4.climbfind.com/"/>
		<!--<add key="StsUrl" value="https://127.0.0.1:444/" />-->
		<add key="StsUrl" value="https://accounts.climbfind.com/"/>

		<!-- Dev Local -->
		<add key="MobileServiceUrl" value="http://jonathon-pc/cfSvc/v1/mobile" />
		<!--<add key="MobileServiceUrl" value="http://127.0.0.1:81/v1/mobile" />-->
		<add key="SearchServiceUrl" value="http://jonathon-pc/cfSvc/v1/search"/>
		
		<!-- Dev Live 
		<add key="MobileServiceUrl" value="http://climbing-partners.com/v1/mobile"/>
		<add key="SearchServiceUrl" value="http://climbing-partners.com/v1/search"/> --> 

		<!-- Live
		<add key="UploadServiceUrl" value="http://cf4.climbfind.com/"/>
		<add key="MobileServiceUrl" value="http://api.climbfind.com/v0/mobile"/>
		<add key="StsUrl" value="http://accounts.climbfind.com/users/"/>-->

		<!-- Climbfind Setter
		<add key="UserEmail" value="setter@climbfind.com"/>
		<add key="Password" value="password"/> -->
		<!-- Test account 1 
		<add key="UserEmail" value="bingmaptester@climbfind.com"/>
		<add key="Password" value="password"/>   -->  
		<!-- JSK Test Account
		<add key="UserEmail" value="orchardblogreader@climbfind.com"/>
		<add key="Password" value="orchardcms"/> -->
		<!-- MC
		<add key="UserEmail" value="missioncliffs@climbfind.com"/>
		<add key="Password" value="password"/> -->
		<!-- London
		<add key="Latitude" value="51.519254"/>
		<add key="Longitude" value="-0.123825"/> -->
		<!-- Vancouver
		<add key="Latitude" value="49.267424"/>
		<add key="Longitude" value="-123.11491"/> -->
		<!-- Sydney
		<add key="Latitude" value="-33.882631"/>
		<add key="Longitude" value="151.25429"/> -->
		<!-- New York
		<add key="Latitude" value="40.736768"/>
		<add key="Longitude" value="-73.990721"/>-->
		<!-- Sacramento
		<add key="Latitude" value="38.58368"/>
		<add key="Longitude" value="-121.49374"/> -->
		<!--  San Francisco
		<add key="Latitude" value="37.785992"/>
		<add key="Longitude" value="-122.469807"/> -->
		<!-- Boulder, CO -->
		<add key="Latitude" value="40.019359"/>
		<add key="Longitude" value="-105.272484"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
