@{ ViewBag.Title = "Help menu"; }

<style type="text/css"> 
    #content { padding-bottom:0px!important;margin-bottom:0px!important }
    #vision-content { background:rgba(255, 255, 255, 0.95);padding:10px 10px 10px 10px }
    #vision-content p {font-size:13px} </style>

<style type="text/css"> #col1 p {font-size:13px} </style>

<div id="col1"> 

<div id="vision-content">

<h1>Help</h1>

<p style="font-weight:bold">If you are concerned about <a href="/upgrade-from-cf3-to-cf4">The Upgrade from CF3 to CF4</a> and would like know 
more about the transition you can read about <a href="/upgrade-from-cf3-to-cf4">what we carried over from CF3 and why</a>.</p>

<p>We have also begun filling out our <b>@(Html.ActionLink<HelpController>(c => c.Faq(), "Q & A / FAQ"))</b>. If you have questions please
email them into contact@climbfind.com so that we can answer them and add them to our Faq.</p>

<style type="text/css">
    h3 { margin:30px 0px 20px 0px }
</style>

<h3 id="PartnerCallSubscriptions">PartnerCall&trade; Subscriptions</h3>    
<p>An in depth look at the options and flexibility in the new PartnerCall Subscriptions system.</p>
<object id="scPlayer"  width="800" height="450" type="application/x-shockwave-flash" data="http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/c5a05809-e3b4-4021-9bac-4c09f73c9647/scplayer.swf" ><param name="movie" value="http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/c5a05809-e3b4-4021-9bac-4c09f73c9647/scplayer.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="thumb=http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/c5a05809-e3b4-4021-9bac-4c09f73c9647/FirstFrame.png&containerwidth=800&containerheight=450&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/c5a05809-e3b4-4021-9bac-4c09f73c9647/PartnerCall%20Subscriptions.mp4&blurover=false" /><param name="allowFullScreen" value="true" /><param name="scale" value="showall" /><param name="allowScriptAccess" value="always" /><param name="base" value="http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/c5a05809-e3b4-4021-9bac-4c09f73c9647/" /><iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/c5a05809-e3b4-4021-9bac-4c09f73c9647/embed" height="450" width="800" ></iframe></object>


<h3 id="AreasVsLocations">The Climbfind Database - "Areas" vs "Locations"</h3>
<p>The database structure is a little more advanced than the old website - but once understood will give you great power to get the exact information you want.
Take a few minutes to get your head around the difference between a single spot (pin) on the map verse an area that contains multiple pins:</p>

<object id="scPlayer"  width="800" height="450" type="application/x-shockwave-flash" data="http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/20aa080d-b99d-4465-b3f9-a33e5184c66c/scplayer.swf" ><param name="movie" value="http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/20aa080d-b99d-4465-b3f9-a33e5184c66c/scplayer.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="thumb=http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/20aa080d-b99d-4465-b3f9-a33e5184c66c/FirstFrame.png&containerwidth=720&containerheight=400&autohide=true&autostart=false&loop=false&showendscreen=true&showsearch=false&showstartscreen=true&tocdoc=left&xmp=sc.xmp&content=http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/20aa080d-b99d-4465-b3f9-a33e5184c66c/Areas%20and%20Locations%20on%20www.climbfind.com%20V4.mp4&blurover=false" /><param name="allowFullScreen" value="true" /><param name="scale" value="showall" /><param name="allowScriptAccess" value="always" /><param name="base" value="http://content.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/20aa080d-b99d-4465-b3f9-a33e5184c66c/" /><iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/climbfind/folders/CF4%20Screencasts/media/20aa080d-b99d-4465-b3f9-a33e5184c66c/embed" height="450" width="800" ></iframe></object>

<h3>Adding a Climb</h3>        
<p>Get involved in improve Climbfind. Add your first climb so that someone else can log it!</p>
<object id="scPlayer"  width="800" height="450" type="application/x-shockwave-flash" data="http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/mp4h264player.swf" ><param name="movie" value="http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/mp4h264player.swf" /><param name="quality" value="high" /><param name="bgcolor" value="#FFFFFF" /><param name="flashVars" value="thumb=http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/FirstFrame.jpg&containerwidth=640&containerheight=480&content=http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/August%20Add%20Climb.m4v&blurover=false" /><param name="allowFullScreen" value="true" /><param name="scale" value="showall" /><param name="allowScriptAccess" value="always" /><param name="base" value="http://content.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/" /><iframe type="text/html" frameborder="0" scrolling="no" style="overflow:hidden;" src="http://www.screencast.com/users/tcamuti/folders/Default/media/bf3afdaf-439a-4c98-a5a9-0aa5f6ecab28/embed" height="450" width="800" ></iframe></object>

</div>

</div>

