 <h4>@(Html.ActionLink<ProfilesController>(c => c.Personality(CfIdentity.UserID), "Share your climbing personality!"))</h4>
 <hr /><img src="@Stgs.StaticRt/ui/personality48.png" />
 <p>Submit photos & movies that encapsulate your climbing life then share them with friends.</p>
